
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand">Photo<i class="fa fa-thumbs-up" aria-hidden="true">Album</i></a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="dropdown show">
                <a class="navbar-toggler" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Albums
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item">Item1</a>
                    <a class="dropdown-item">Item2</a>
                    <a class="dropdown-item">Item3</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile" aria-controls="navbarProfile" aria-expanded="true">
                Profile
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

<div class="bg-dark collapse" id="navbarProfile">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 py-4">
                <h4 class="text-white">@Request.QueryString["name"]</h4>
                <p class="text-muted">information of user</p>
                @Html.ActionLink("Edit", "EditProfile", "Profile", new { email = @Request.QueryString["email"]}, new { @class = "text-white"})
            </div>
            <div class="col-sm-4 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class=" text-white"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a href="#" class=" text-white"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                    <li><a href="#" class=" text-white"><i class="fa fa-vk" aria-hidden="true"></i> VK</a></li>
                    <li><a href="#" class=" text-white"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album name</h1>
        <p class="lead text-muted">Description of album</p>
    </div>
</section>
<div class="album text-muted">
    <div class="container">
        <div class="row">
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
        </div>
    </div>
</div>

