@model PhotoAlbumDemo.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album name</h1>
        <p class="lead text-muted">Description of album</p>
    </div>
</section>
<div class="album text-muted">
    <div class="container">
        <div class="row">
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="" data-holder-rendered="true" />
                <p class="card-text">the photo</p>
            </div>
        </div>
    </div>
</div>